.loadingspinner {
  background: #92847a;
  background: linear-gradient(to left, #92847a, #3d3c3c);
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 6px;
  overflow: hidden;
}

.water-fill {
  animation: wave 1s infinite linear,
    fill-up 10s infinite ease-out alternate;
}

@keyframes wave {
  0% {
    x: -400px;
  }

  100% {
    x: 0;
  }
}


@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }

  100% {
    height: 160px;
    y: -30px;
  }
}