.nft-modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nft-modal-wrapper {
    height: 100%;
    background-color: #1f1e1e;
    border-radius: 12px;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.nft-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nft-modal-close {
    top: 16px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.nft-modal-container {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    max-height: 100%;
}

.nft-modal-image-wrapper {
    flex: 1;
    border: 1px solid gray;
    padding: 2rem;
}

.nft-modal-image {
    width: 100%;
    height: 70vh;
    max-height: 70vh;
    border-radius: 12px;
    object-fit: fit;
}

.nft-modal-info {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    border: 1px solid gray;
    padding: 1rem;
    overflow-y: auto;
}

.nft-modal-title {
    font-size: 28px;
    font-weight: 700;
}

.nft-modal-owner {
    color: #aaa;
    font-size: 14px;
}

.owner-address {
    color: #58a6ff;
}

.nft-modal-description {
    margin-top: 20px;
}

.nft-modal-description h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #aaa;
}

.nft-modal-description p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nft-modal-owner-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nft-owner-icons {
    display: flex;
    gap: 12px;
    font-size: 18px;
    cursor: pointer;
}

.nft-modal-tabs {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-size: 14px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.nft-tab {
    cursor: pointer;
    color: #aaa;
    padding-bottom: 5px;
}

.nft-tab:hover {
    color: #92847a;
}

.nft-register-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group label {
    gap: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ccc;
    font-size: 1rem;
    margin-top: 5px;
}

.submit-button {
    padding: 0.6rem 1.2rem;
    background-color: #92847a;
    color: white;
    align-self: center;
    width: 30%;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-button:hover {
    background-color: #6e5e52;
}