.scent-chat-container {
  max-width: 1000px;
  margin: 80px auto;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  color: #1a1a1a;
}

.scent-studio-subtitle {
  text-align: center;
  font-size: 2rem;
  padding: 10px 0 20px 0;
}

.chat-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.chat-box {
  border: 1px solid #92847A;
  border-radius: 10px;
  padding: 1rem;
  height: 500px;
  overflow-y: auto;
  background: #f7f6f6;
  margin-bottom: 1rem;
}

.chat-message {
  max-width: 70%;
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
  border-radius: 15px;
  line-height: 1.4;
  white-space: pre-wrap;
}

.chat-message.agent {
  background: #f0f0f0;
  color: #1a1a1a;
  align-self: flex-start;
  text-align: left;
}

.chat-message.user {
  background: #f0f0f0;
  color: #1a1a1a;
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
}

.chat-input-group {
  display: flex;
  gap: 1rem;
}

.chat-input {
  flex: 1;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.chat-submit {
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  background: #222;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
}

.next-generate-btn {
  cursor: pointer;
  padding: 2rem 1.2rem;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: float 2s ease-in-out infinite;
  margin: 0 auto;
}

.next-generate-btn p {
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
