.scent-before-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  gap: 1rem;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2rem;
}

.scent-before-login h2 {
  letter-spacing: 0.7rem;
}

.scent-upload-section {
  color: #92847a;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.scent-after-login {
  padding: 2rem;
  margin: 0 auto;
}

.scent-after-hero {
  background: #1D1B22;
  background: linear-gradient(to left, #383431, #18171a, #383431);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 6px;
  overflow: hidden;
}

.nft-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.nft-menu {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nft-menu button {
  background: none;
  border: none;
  color: #92847a;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  transition: color 0.3s;
}

.nft-menu button:hover {
  color: white;
}

.nft-search-input {
  padding: 8px 12px;
  width: 250px;
  font-size: 16px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #1D1B22;
  color: white;
}

.nft-upload-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  max-width: 1200px;
  max-height: 300px;
}

.nft-upload-card {
  width: 270px;
  height: 300px;
  background-color: #1D1B22;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nft-upload-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nft-upload-name {
  font-weight: bold;
  margin: 10px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nft-upload-check {
  color: #b1afae;
  margin: 10px;
}

.nft-upload-description {
  font-size: 14px;
  color: #555;
}

/* svg css */
@import 'https://fonts.googleapis.com/css?family=Oswald';

.water-fill {
  animation: wave 1s infinite linear,
    fill-up 10s infinite ease-out alternate;
}

@keyframes wave {
  0% {
    x: -400px;
  }

  100% {
    x: 0;
  }
}


@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }

  100% {
    height: 160px;
    y: -30px;
  }
}