@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1B22;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --primary: #92847a;
  --secondary: #00bfff;
  --success: #4caf50;
  --warning: #ffc107;
  --danger: #f44336;
  --dark: #121212;
  --light: #f5f5f5;
  --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
  --gallery-bg: #c0bdbb;
}
